footer{
	min-height: 500px;
	background: black;
	position: relative;
	z-index: -10;
}

footer > div:nth-child(1){
	width:62%;
	min-height: 300px;
	padding: 30px 0;
	margin: 0 auto;
}
footer > div:nth-child(2){
	width:100%;
	position: absolute;
	bottom: 0;
	left:0;
}
footer > div:nth-child(2) > div:nth-child(1){
	width:62%;
	margin: 0 auto;
}

footer h6{
	font-family: 'Signika-Light';
	font-size: 16px;
	line-height: 32px;	
	color: white;
}
footer ul, footer p{
	font-family: 'Signika-Light';
	font-size: 16px;
	line-height: 32px;
	color: #ababab;
}
footer p{
	width: 90%;
}

footer > div:nth-child(1) > div:nth-child(1){
	float:left;
	width:35%;
}
footer > div:nth-child(1) > div:nth-child(2){
	float:left;
	width:40%;
}
footer > div:nth-child(1) > div:nth-child(3){
	float:left;
	width:25%;
}



/* */
@media only screen and (max-width: 900px){
	footer > div:nth-child(1){
		width:70%;
		min-height: 500px;
	}	
	footer p{
		width:90%;
	}
}

@media only screen and (max-width: 600px){
	footer > div:nth-child(1){
		width:80%;
		min-height: 550px;
	}
}